@model IEnumerable<Entaria.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryGeoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailedLoginCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginFailureContactNotification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedByUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainContactTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryGeoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailedLoginCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginFailureContactNotification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedByUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientId })
        </td>
    </tr>
}

</table>
