@model Entaria.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReaderId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReaderId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CardId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CardId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReceiptNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiptNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransactionTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
