@model IEnumerable<Entaria.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailedLoginCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginFailureContactNotification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedByUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailedLoginCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginFailureContactNotification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedByUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminId })
        </td>
    </tr>
}

</table>
