<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Entaria Loyalty Card System</title>
        <link href="~/Images/entaria_favicon.ico" rel="shortcut icon" type="image/ico" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")


    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/EntariaLogo.jpg" alt="Entaria Logo" width="95px" height="107px" /></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <!--  <li>@@Html.ActionLink("Home", "Index", "Home")</li> -->
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("MyAccount", "Index", "LoyaltyCardHolder")</li>
                            <li>@Html.ActionLink("Clients", "Index", "Client")</li>
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Contact", "Index", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Entaria Enterprises</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
